body{
  font-family: Montserrat;
  text-align: center;
}
h1,h2,h3,h4,h5,h6{
  font-family:"Montserrat";
  font-weight: bolder;
}

video{
  width: 100%;
  height: auto;
}
.container-video{
  text-align: center;
  position: relative;
}
.jale-vid{
  position: relative;
  z-index :1;
}
.over-video{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3%;
  background-color: #59A984;
  opacity: 0.8;
  position: absolute;
  z-index: 2;
}


.big-heading{
  font-size: 3.5rem;
  line-height: 1.5;
}
.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}
.container-fluid{
  padding: 7% 15%;

}
.container-fluid.first{
  background-image:url("fondo1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.phrase{
  background-color:#59A984;
  margin-right:33%;
  color: #0e2d40;
  text-align: center;
  opacity: 0.9;
}
.text-phrase{
  text-align: left;
  margin: 4% 4% 4% 4%;
}
.colored-section{
  background-color: #0e2d40;
  color: #59A984;
}
.colored-section2{
  background-color: #59A984;
  color: #0e2d40;
  position: relative;
}
.white-section{
    background-color: #fff;
}
.navbar{
  padding-top: 0;
  padding-left: 1%;
  padding-right: 1%;
  background-color: #0e2d40;
}
.logo-jale{
  height: 60px;
}

.navbar-brand{
  font-family: Ubuntu;
  font-size: 2.5rem;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: Montserrat;
  font-weight: bold;
}
#link-r.link-registro{
  color: #0e2d40;
  position: absolute;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1.44%;
  padding-bottom: 1.44%;
  top:0;
}
.navbar-nav.ml-auto{
  margin-right: 5.5%;
}
.link-registro{
  background-color: #59A984;
  color: #0e2d40;
}
.navbar-dark .navbar-nav .nav-link{
  color: #59A984;
  font-weight: bolder;
}

#title .container-fluid{
  padding: 10% 3% 15% 7%;
  text-align: left;
}
.top-img{
  width: 80%;
  position: absolute;
  right: 20%;
}
.download-button{
  margin: 5% 3% 5% 0;
}
.ico{
  font-size: 4.5rem;
  margin-bottom: 1rem;
  color: #0e2d40;
}

.ico:hover{
  color: #0e2d40;
}

#features{
  position: relative;
  z-index: 1;
}
.feature-title{
  font-size: 1.35rem;
}
.feature-box{
  padding: 5%;
}

#testimonials{
  background-color:#0e2d40;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}


.social-icon{
  margin: 20px 10px;
  font-size: 1.5rem;
}
@media (max-width: 1879px) {
  #link-r.link-registro{
    color: #59A984;
    position: static;
    padding-top: 8.1%;
  }
  .link-registro{
    background-color: #0e2d40;
  }
}
@media (max-width: 990px) {
  #link-r.link-registro{
    padding: 0;
  }
}
@media (max-width: 1080px) {
  #title{
    text-align: center;
  }
  .top-img{
    position: static;
    transform: rotate(0);
  }
  .colored-section2{
    position: static;
  }
  .over-video{
    transform: translate(0);
    position: static;
  }
}

/*nosotros*/
.container-fluid.nosotros{
  background-image: url(driver.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.quienes-somos{
  color: #0e2d40;
  background-color: #59A984;
  padding: 4%;
  opacity: 0.8;
}
.texto-about{
  text-align: justify;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 1.75rem;
  color: #0e2d40;
  opacity: 1;

}
@media (max-width: 1080px) {
  .quienes-somos{
    margin-top: 10%;
  }
}

/*Seguridad*/
.container-fluid.seguridad{
  text-align: left;
  background-image: url(seguridad.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.contenedor-seguridad{
  color: #0e2d40;
  background-color: #59A984;
  padding: 4%;
  opacity: 0.8;
}
.texto-seguridad{
  text-align: left;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 1.75rem;
  color: #0e2d40;
  opacity: 1;
}
.frase-seguridad{
  margin-bottom: 6%;
}

.col-lg-6.seguridad-col{
  padding-left: 5%;
  padding-right: 5%;
}
.icono{
  font-size: 6rem;
  color: color: #0e2d40;
}
@media (max-width: 1080px) {
  .contenedor-seguridad{
    margin-top: 10%;
  }
}

/*Ayuda*/
.container-fluid.ayuda{
  text-align: center;
  background-image: url(help.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.ayuda-container{
  margin-top: 15%;
  margin-left: 25%;
  color: #0e2d40;
  padding: 4%;
  opacity: 0.8;
}
.texto-ayuda{
  text-align: justify;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 3rem;
  color: #0e2d40;
  opacity: 1;
  margin-top: 15%;
  margin-left: 65%;

}
.ico-h{
  color: #0e2d40;
  border-color: #0e2d40;

}
.ico-h:hover{
  background-color: #0e2d40;
  color: #59A984;
}
@media (max-width: 1080px) {
  .ayuda{
    margin-top: 8%;
  }
  .ayuda-container{
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

/*Iniciar*/

.container-fluid.iniciar{
  text-align: center;
  background-image: url(Iniciar.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.iniciar-container{
  text-align: left;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
  padding: 5%;
  background-color: #fff;
  opacity: 0.9;
  color: #0e2d40;
}
@media (max-width: 1080px) {

  .iniciar-container{
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 30%;
    margin-top: 20%;
  }
}
/*Regístrate*/

.container-fluid.registro{
  text-align: center;
  background-image: url(Iniciar.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.registro-container{
  text-align: left;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
  padding: 5%;
  background-color: #fff;
  opacity: 0.9;
  color: #0e2d40;
}
@media (max-width: 1080px) {

  .registro-container{
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 30%;
    margin-top: 20%;
  }
}
