body{
  font-family: Montserrat;
  text-align: center;
}
h1,h2,h3,h4,h5,h6{
  font-family:"Montserrat";
  font-weight: bolder;
}
p{
  color: #8f8f8f;
}
video{
  width: 100%;
  height: auto;
}
.container-video{
  text-align: center;
  position: relative;
}
.jale-vid{
  position: relative;
  z-index :1;
}
.over-video{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3%;
  background-color: #59A984;
  opacity: 0.8;
  position: absolute;
  z-index: 2;
}


.big-heading{
  font-size: 3.5rem;
  line-height: 1.5;
}
.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}
.container-fluid{
  padding: 7% 15%;

}
.container-fluid.first{
  background-image:url("fondo1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.phrase{
  background-color:#59A984;
  margin-right:33%;
  color: #0e2d40;
  text-align: center;
  opacity: 0.9;
}
.text-phrase{
  text-align: left;
  margin: 4% 4% 4% 4%;
}
.colored-section{
  background-color: #0e2d40;
  color: #59A984;
}
.colored-section2{
  background-color: #59A984;
  color: #0e2d40;
  position: relative;
}
.white-section{
    background-color: #fff;
}
.navbar{
  padding-top: 0;
  padding-left: 1%;
  padding-right: 1%;
  background-color: #0e2d40;
}
.logo-jale{
  height: 60px;
}

.navbar-brand{
  font-family: Ubuntu;
  font-size: 2.5rem;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: Montserrat;
  font-weight: bold;
}
.navbar-dark .navbar-nav .nav-link{
  color: #59A984;
}

#title .container-fluid{
  padding: 10% 3% 15% 7%;
  text-align: left;
}
.top-img{
  width: 80%;
  position: absolute;
  right: 20%;
}
.download-button{
  margin: 5% 3% 5% 0;
}
.ico{
  font-size: 4.5rem;
  margin-bottom: 1rem;
  color: #0e2d40;
}

.ico:hover{
  color: #0e2d40;
}

#features{
  position: relative;
  z-index: 1;
}
.feature-title{
  font-size: 1.35rem;
}
.feature-box{
  padding: 5%;
}

#testimonials{
  background-color:#0e2d40;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}


.social-icon{
  margin: 20px 10px;
  font-size: 1.5rem;
}
@media (max-width: 1028px) {
  #title{
    text-align: center;
  }
  .top-img{
    position: static;
    transform: rotate(0);
  }
  .colored-section2{
    position: static;
  }
  .over-video{
    transform: translate(0);
    position: static;
  }
}
